RewriteEngine On

# Redirect base URL to home.html
RewriteRule ^$ home.html [L]

# Handle other .html files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]
